﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Code Challange</h1>    
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Visual Studio 2013</h2>        
    </div>
    <div class="col-md-4">
        <h2>MVC5</h2>
        
    </div>
    <div class="col-md-4">
        <h2>Sql Server 2012</h2>        
    </div>
</div>


