﻿@{
    ViewBag.Title = "Details";  
}

<h2>Details</h2>

<div>
    <table class="CSSTableGenerator">
        <tr>
            <th>Title</th>            
            <th>Participant</th>
            <th>Released Year</th>
            </tr>
        <tr>
                @foreach (var title in ViewBag.Details)
                {
                    <td>@title.Title</td>
                    <td>@title.ParticipantName</td>
                    <td>@title.ReleaseYear</td>                    
                    break;
                }
        </tr>
    </table>
            <table class="CSSTableGenerator">
                <tr>
                    <th>Type</th>
                    <th>Award</th>
                    <th>Language</th>                                                           
                </tr>
                
                @foreach (var title in ViewBag.Details)
                {                                                            
                    <tr>                       
                        <td>@title.Type</td>                                                             
                        <td>@title.AwardName</td>
                        <td>@title.Language</td>                                                
                    </tr>                    
                }
            </table>
</div>


