﻿@model IEnumerable<MVCDemo.Title>

@{
    ViewBag.Title = "ReadTitles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Titles</h2>
<script>
    
    jQuery(function($) {         
        $("a").click(function () {

            var recordId = $(this).attr("id");
            $('#popup_content').load('/Titles/GetTitles?titleId=' + recordId, function (html)
            { $('#popup_content')[0].value = html; });
            $('#popup_content').show();

            loading();
            setTimeout(function(){  
            loadPopup(); 
             }, 0); 
            return false; 
       });

        /* event for close the popup */ 
        $("div.close").hover( function() { 
            $('span.ecs_tooltip').show(); 
        },
            function () {
                $('span.ecs_tooltip').hide(); 
        }); 

        $("div.close").click(function () {
            disablePopup();  // function close pop up 
        });

        $(this).keyup(function(event) { 
            if (event.which == 27) { // 27 is 'Ecs' in the keyboard 
                disablePopup();  // function close pop up 
            }
        });

        $("div#backgroundPopup").click(function() { 
            disablePopup();  // function close pop up 
        });

        $('a.livebox').click(function() { 
            alert('Hello World!');
            return false;
        });

/************** start: functions. **************/ 
    function loading() { 
    $("div.loader").show();   
    }

    function closeloading() { 
        $("div.loader").fadeOut('normal');   
    }

    var popupStatus = 0; 
    function loadPopup() { 
        if(popupStatus == 0) { 
            closeloading(); 
            $("#toPopup").fadeIn(500); 
            $("#backgroundPopup").css("opacity", "0.7");
            $("#backgroundPopup").fadeIn(0001); 
            popupStatus = 1;
        }     
    }

    function disablePopup() { 
        if(popupStatus == 1) {
            $("#toPopup").fadeOut("normal");   
            $("#backgroundPopup").fadeOut("normal");   
            popupStatus = 0;
        } 
    }}); // jQuery End 

</script>

<div id="toPopup" style='width: 770px; height:430px; overflow:scroll;'>
    Press Esc to close
    <div class="close"></div>    
    <div id="popup_content"></div>
    <div class="loader"></div>    
</div>  
<br />
<div id="backgroundpopup">
    <table class="CSSTableGenerator">
        <tr>
            <th>Title ID</th>
            <th>Title Name</th>
            <th>Release Year</th>
            <th>Date</th>
            <th>Details</th>
        </tr>

        @foreach (var title in ViewBag.TitleInfo)
        {
            <tr>
                <td>@title.TitleId</td>
                <td>@title.TitleName</td>
                <td>@title.ReleaseYear</td>
                <td>@title.ProcessedDateTimeUTC</td>
                <td><a name="helo" href="#" id="@(title.TitleId)">Details</a></td>
            </tr>
        }
    </table>
</div>


