﻿
#backgroundPopup { 

    z-index:1; 
    position: fixed; 
    display:none; 
    height:100%; 
    width:100%; 
    background:#000000; 
    top:0px; 
    left:0px; 
} 

 #toPopup { 
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif; 
    background: none repeat scroll 0 0 #FFFFFF; 
    border: 10px solid #ccc; 
    border-radius: 3px 3px 3px 3px; 
    color: #333333; 
    display: none; 
    font-size: 14px; 
    left: 50%; 
    margin-left: -410px; 
    position: fixed; 
    top: 20%; 
    width: 800px; 
    z-index: 2; 
} 

div.loader { 
    background: url("../img/loading.gif") no-repeat scroll 0 0 transparent; 
    height: 32px; 
    width: 32px; 
    display: none; 
    z-index: 9999; 
    top: 40%; 
    left: 50%; 
    position: absolute; 
    margin-left: -10px; 
} 

div.close { 
    background: url("../Images/closebox.png") no-repeat scroll 0 0 transparent; 
    cursor: pointer; 
    height: 30px; 
    position: absolute; 
    right: -27px; 
    top: -24px; 
    width: 30px; 
} 

span.ecs_tooltip { 
    background: none repeat scroll 0 0 #000000; 
    border-radius: 2px 2px 2px 2px; 
    color: #FFFFFF; 
    display: none; 
    font-size: 11px; 
    height: 16px; 
    opacity: 0.7; 
    padding: 4px 3px 2px 5px; 
    position: absolute; 
    right: -62px; 
    text-align: center; 
    top: -51px; 
    width: 93px; 
} 

span.arrow { 
    border-left: 5px solid transparent; 
    border-right: 5px solid transparent; 
    border-top: 7px solid #000000; 
    display: block; 
    height: 1px; 
    left: 40px; 
    position: relative; 
    top: 3px; 
    width: 1px; 
} 

div#popup_content { 
    margin: 4px 7px; 
    /* remove this comment if you want scroll bar 
    overflow-y:scroll; 
    height:200px 
    */ 
} 
